h1{
   background: cornsilk;
    font-size: 80px;
    margin-left:-13px;
    text-align: center;

}
body{
	background:gold;
}

input{
	/*cursor: url(iy.jpg),pointer;*/
    margin: 15px;
    box-sizing: border-box;
    font-size: 25px
}



